@use '../../../styles/variables' as *;

.skeleton-loader {
  background-color: $primary-yellow;
  height: 100px;
  width: 100%;
  animation: pulse 1.5s infinite ease-in-out;

  @keyframes pulse {
    0% {
      background-color: $primary-yellow;
    }
    50% {
      background-color: $primary-yellow;
    }
    100% {
      background-color: $primary-yellow;
    }
  }
}
