@use '../../../styles/_variables.scss' as *;

.nav-header {
  display: flex;
  align-items: center;
  background-color: $primary-yellow;

  &__logo-container {
    display: flex;
    align-items: center;
  }

  & img {
    height: 3rem;
    margin-right: 1rem; 
  }

  &__title {
    font-size: 1.5rem; 
    font-weight: bold;
    color: #003a70;
  }
}

