@use '../../../styles/variables' as *;

.search-container {
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.breadcrumb {
  display: flex;
  font-size: 0.875rem;
  color: $text-color;
  margin: 1rem 0;
  width: 100%;

  &__item {
    display: flex;
    align-items: center;

    &--active {
      font-weight: bold;
    }
  }

  &__link {
    color: $text-color;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: $text-color-dark;
    }

    &--active {
      color: $text-color-dark;
      pointer-events: none;
    }
  }

  &__separator {
    margin: 0 0.5rem;
    color: $gray-medium;
  }
}

.item-list {
  margin: 1rem 0;
}

.breadcrumb__back-button {
  background-color: $primary-blue;
  color: $white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    background-color: $primary-color;
  }
}
