@use './variables' as *;
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #ffe600 0%, #fffde7 100%);
  height: 100vh;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .home__icons {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;

      .home__icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #000;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        color: #ffe600;
        text-align: center;

        svg {
          font-size: 3rem;
        }

        span {
          margin-top: 10px;
          font-size: 1rem;
          font-weight: bold;
        }
      }
    }
  }
}
