@import '@/presentation/styles/_variables.scss';

.nav-header {
  background-color: $primary-yellow;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 16px;

  img {
    height: 50px;
  }
}
